<template name="mainPage">

    {{#if isSuccessfulAddQuoteData }}
        <h2>inside the template.. successfulAddQuoteData TRUE - rendering SHOWQUOTE template</h2>
    {{else}}

        <h2>inside the template.. successfulAddQuoteData NOT true - rendering AddQuoteData template</h2>
        {{AddQuoteData}}
    {{/if}}

</template>

<template name="AddQuoteData">
  <div class="well well-sm">
      <h2>RENDEERING AddQuoteData TEMPLATE</h2>
    {{> quickForm
    collection="QuoteData"
    template="bootstrap3-horizontal"
    label-class="col-xs-3"
    input-col-class="col-xs-8"
    id="AddQuoteDataForm"
    type="method"
    meteormethod="addQuoteData"
    resetOnSuccess=true}}
  </div>

</template>

<template name="UpdateQuoteData">
  <div class="well">
      <h2>RENDERING UpdateQuoteData TEMPLATE</h2>
    {{> quickForm
    collection="QuoteData"
    template="bootstrap3-horizontal"
    label-class="col-sm-3"
    input-col-class="col-sm-8"

    id="UpdateQuoteDataForm"
    type="method-update"
    meteormethod="updateQuoteData"
    doc=this
    buttonContent="Update"}}
  </div>
</template>